*.slo
*.l[ao]
*.[ao]
*.tgz
*.gz
Makefile
.deps/
.libs/
etc/
dist/
autom4te.cache/
Makefile.in
configure
aclocal.m4
config.*
cscope.*
depcomp
install-sh
ltmain.sh
missing
compile
test-driver
Makefile
libtool
stamp-h1
m4/libtool.m4
m4/lt~obsolete.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
tests/mactest
tests/check_mac
tests/*.gcda
tests/*.gcno
tests/test-suite.log
